<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Weather Monitoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h1>Real-Time Weather Monitoring System</h1>
    <div id="weather-container"></div>
    <div id="alert-container"></div>
    <div id="summary-container"></div>

    <!-- Footer -->
    <footer>
        <p>Created by Goutham MP</p>
    </footer>

    <script src="{{ url_for('static', filename='app1.js') }}"></script>
</body>
</html>
